ion-content {
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-start: 5px;
    --padding-end: 5px;
    --background: white;
}
ion-item {
    --border-color: transparent;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --background: transparent;
}
ion-label {
    color: var(--ion-color-primary) !important;
}
ion-input {
    border-bottom: 1px solid #cacaca;
}
.rating {
    ion-icon {
        color: #cccccc !important;
    }
    .ratingcolor {
        color: orange !important;
    }
}
.addPicture {
    ion-card-content {
        background: #e9e9e9;
        text-align: center;
        div {
            padding: 5%;
        }
        ion-icon {
            color: gray;
            font-size: 2rem;
        }
    }
}
ion-button {
    text-transform: capitalize;
    letter-spacing: 0;
}
.location {
    margin-top: 5%;
    ion-card-header {
        padding: 3% 1%;
        ion-icon {
            font-size: 1.5rem;
            position: absolute;
            top: 15%;
            color: var(--ion-color-primary) !important;
        }
        p {
            margin: 5px 0% 0%;
            font-size: 1rem;
        }
        .title {
            color: #545454;
        }
        .subtitle {
            color: gray;
            font-size: 0.8rem;
        }
    }
    ion-card-content {
        padding-bottom: 0 !important;
        div {
            background: #bdbdbd;
            padding: 15%;
        }
        p {
            color: gray;
            font-size: 0.8rem;
        }
    }
}
img {
    width: fit-content;
    height: 200px;
}
