<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add a cat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="fixed">Name</ion-label>
    <ion-input placeholder="Enter name" [(ngModel)]="imageObj.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Rating</ion-label>
    <div slot="end" class="rating">
      <ion-icon *ngFor="let star of [1,2,3,4,5];" name="star-sharp" [ngClass]="{'ratingcolor':imageObj.rating==star || imageObj.rating>star}"
        (click)="rating(star)"></ion-icon>
    </div>
  </ion-item>
  <ion-card class="addPicture">
    <ion-card-content>
      <div *ngIf="imageObj.imageUrl == ''" (click)="insertImage()">
        <ion-icon name="add-sharp"></ion-icon>
        <p>Insert cat image</p>
      </div>
      <img [src]="imageObj.imageUrl" *ngIf="imageObj.imageUrl != ''" onError="this.src='assets/placeholder.jpg';" />
    </ion-card-content>
    <ion-card-footer>
      <ion-button fill="clear" color="primary" (click)="insertImage()">Upload Image</ion-button>
    </ion-card-footer>
  </ion-card>
  <ion-card class="location">
    <ion-card-header>
      <ion-row>
        <ion-col size="1">
          <ion-icon name="navigate-circle-outline"></ion-icon>
        </ion-col>
        <ion-col>
          <p class="title"> Add Location</p>
          <p class="subtitle">You can't track me</p>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <div></div>
      <p>Location Details</p>
    </ion-card-content>
    <ion-card-footer>
      <ion-row>
        <ion-col size="6">
        </ion-col>
        <ion-col size="6">
          <ion-button fill="clear" color="primary">Set Current Location</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-footer>
  </ion-card>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" color="medium" (click)="reset()">Cancel</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="primary" (click)="save()">Save</ion-button>
    </ion-col>
  </ion-row>
</ion-content>