ion-content {
    --background: #e8e8e8;
}
.empty-state {
    margin-top: 25%;
    text-align: center;
    ion-icon {
        color: #bdbdbd;
        font-size: 3rem;
    }
    p {
        color: #bdbdbd;
        font-size: 1.2rem;
    }
}
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}
.skeleton {
    width: 100%;
    border-radius: 8px;
    height: 10rem;
    margin: 4% 0%;
}
ion-card-footer {
    .name {
        margin: 0% 5% 3%;
        text-transform: capitalize;
        font-size: 1.2rem;
        .disc {
            font-size: 1.5rem;
            color: var(--ion-color-primary) !important;
        }
        span {
            position: absolute;
            left: 20%;
            top: 15%;
        }
        .rating {
            text-align: right;
            ion-icon {
                color: #cccccc !important;
            }
            .ratingcolor {
                color: orange !important;
            }
        }
    }
}
img {
    width: fit-content;
    height: 200px;
}
