<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cat-a-log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empty-state" *ngIf="emptyState == true">
    <ion-icon name="image"></ion-icon>
    <p>Please add images to display</p>
  </div>
  <div *ngIf="emptyState == false && catList.length == 0">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated class="skeleton">
      </ion-skeleton-text>
      <ion-skeleton-text animated class="skeleton">
      </ion-skeleton-text>
      <ion-skeleton-text animated class="skeleton">
      </ion-skeleton-text>
    </div>
  </div>
  <ng-container *ngIf="emptyState == false && catList.length > 0">
    <ion-card *ngFor="let cat of catList;let i=index">
      <ion-card-content>
        <img [src]="cat.imageUrl" onError="this.src='assets/placeholder.jpg';" />
      </ion-card-content>
      <ion-card-footer>
        <ion-row class="name">
          <ion-col size="6">
              <ion-icon name="disc-outline" class="disc"></ion-icon>
             <span> {{cat.name}}</span>
          </ion-col>
          <ion-col size="6" class="rating">
            <ion-icon *ngFor="let star of [1,2,3,4,5];" name="star-sharp" [ngClass]="{'ratingcolor':cat.rating==star || cat.rating>star}"
              (click)="rating(star,i)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-footer>
    </ion-card>
  </ng-container>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPicture()">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>